* {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  margin: 0; 
  padding: 0; 
}


body {
  color: #ffffff;
  background-color: rgb(68, 68, 68);
  display: flex;
  flex-direction: column; 
  margin: 0; 
}

 /*landing */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}

.content {
  position: relative;
  z-index: 2; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white; 
}

.logo {
  max-width: 800px;
  opacity: 0; 
  transition: opacity 1s; 
  z-index: 1; 
}

.buttons {  
  position: absolute;
  right: 20px; 
  top: 50%; 
  transform: translateY(-50%);
  opacity: 0; 
  transition: opacity 1s; 
  display: flex; 
  flex-direction: column; 
  z-index: 3; 
}

.transparent-button {
  text-align: center;
  text-decoration: none;
  border: none;
  margin: 10px 0; 
  padding: 10px 20px;
  font-size: 22px;
  font-weight: 400;
  color: #ae8774; 
  background: none; 
  cursor: pointer;
  opacity: 0; 
  transition: opacity 0.5s, color 0.3s, background 0.3s; 
}
/* Cambios al pasar el mouse */
.transparent-button:hover {
  color: white; 
}

/* Menú*/
.menu {
  position: absolute; 
  top: 20px; 
  right: 0; 
  width: 200px; 
  text-align: center; 
  z-index: 10;
}

.logo-menu {
  width: 85%; /* Ajusta el tamaño de la imagen */
  cursor: pointer;
  display: block; 
  margin: 0 auto; 
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #ae87744b; 
  transition: max-height 0.3s ease;
  max-height: 200px; 
  overflow: hidden; 
}

.menu-items li {
  padding: 10px;
}

.menu-items a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block; /* Hacer que el enlace ocupe todo el ancho */
  transition: color 0.3s ease, text-decoration 0.3s ease;
  font-weight: bold; /* Aumentar el peso de la tipografía */
}

.menu-items a:visited {
  color: #ffffff; 
  text-decoration: none;
}

.menu-items a:hover {
  color: #a05195; 
  text-decoration: none;
}

h1 {
  background-color: #ae8774;
  padding: 60px 40px;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

h2 {
  text-align: center;
  font-size: 32px;
  color: #d2b49c;
}

body p {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}
.cursos {
  background-color: #a88b70;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;}

  article {
  font-size: 20px;
  padding: 1em;
  color: #000000;
  background-color: #ffffffa1;
  align-self: center;
  border-radius: 10px; 
  margin: 20px; 
  transition: transform 0.3s ease; 
}

#img-cursos {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centra las imágenes horizontalmente */
  align-items: center; /* Centra verticalmente si es necesario */
  margin: 20px 0; /* Espacio arriba y abajo */
}
body img {
  padding: 2px;
  max-width: 500px;
}

#sobre-mi {
  display: flex; /* Usar flexbox para centrar */
  flex-direction: column; /* Alinear los elementos en columna */
  align-items: center; /* Centrar los elementos horizontalmente */
  background-color: #9f8d81;
  padding: 2em;
  margin-bottom: 20px; /* Agregar margen inferior para separar del footer */
}
.btn-sobre-mi {
  display: inline-block; 
  padding: 10px 20px; 
  font-size: 16px; 
  background-color: #ffffff; 
  border: none; 
  border-radius: 25px; /* Bordes redondeados */
  text-align: center; /* Centrar texto */
  text-decoration: none; /* Sin subrayado */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.btn-sobre-mi:link {
  color: #9f8d81;
}

.btn-sobre-mi:hover {
  color: white;
  background-color: #a05195; /* Color de fondo al pasar el mouse */
  transform: translateY(-2px); /* Efecto de levantamiento */
}

.sobre-mi-div {
  padding: 2em;
  align-self: center;
  background-color: #9f8d81;
  color: #000000;
  display: flex; 
  align-items: center;
  margin: 20px; 
}
.sobre-mi-img {
  max-width: 400px; /* Ajusta el tamaño máximo de la imagen */
  margin-right: 20px; /* Espacio entre la imagen y el texto */
  border-radius: 8px; /* Opcional: bordes redondeados */
}

.sobre-mi-texto {
  max-width: 600px; /* Ajusta el ancho máximo del texto */
}

.sobre-mi-texto p {
  font-size: 18px;
}

h1 {
  margin-bottom: 15px; /* Espacio debajo del encabezado */
}


/* Galeria estudiantes*/

.galeria-estudiantes {
  padding: 5px 10px;
  background-color: #ae8774; 
  color: black; 
  border-radius: 25px;
  text-decoration: none;
  display: inline-block; 
  font-size: 24px; 
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave para el hover */
}

.galeria-estudiantes:hover {
  color: white;
  background-color: #a05195;
}


/*carátula realismo */
#caratula-real1 {
  background-image: url('../img/caratula-recientes.jpg'); 
  background-size: cover
  background-position: center;
  height: 600px; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  color: white;
  margin: 20px 0; 
}

#caratula-real2 {
  background-image: url('../img/caratula-series.jpg');
  background-size: cover
  background-position: center; 
  height: 600px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  color: white;
  margin: 20px 0;
}

#caratula-real1 a:link{
  color: white;
  font-weight: 500;
  text-decoration: none; /* Sin subrayado */
  font-size: 40px; /* Tamaño de fuente */
}
#caratula-real2 a:link{
  color: white;
  font-weight: 500;
  text-decoration: none; /* Sin subrayado */
  font-size: 40px; /* Tamaño de fuente */
}

.background-image a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}

/* galerías */
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 1080px; /* Ancho total de la cuadrícula */
  margin: 0 auto; /* Centrar la cuadrícula */
  padding: 0; /* Eliminar padding */
  position: relative; /* Para posicionar imágenes en relación a este contenedor */
}

.galeria img {
  width: calc(100% - 10px); /* Restar margen para ajustar el ancho */
  height: auto; /* Mantener la proporción de la imagen */
  object-fit: cover; /* Asegurar que la imagen cubra el área sin deformarse */
  margin: 5px; 
  transition: transform 0.3s ease; /* Suavizar la transición al cambiar tamaño */
  position: relative; /* Establecer posición relativa para cada imagen */
  z-index: 0; /* Z-index por defecto */
}

.galeria img:hover {
  transform: scale(2); /* Ampliar la imagen a 1.5x su tamaño */
  z-index: 1; /* Asegurar que la imagen ampliada esté por encima de las demás */
}

/* Ajustar la imagen ampliada para centrarla respecto del viewport */
.galeria img:hover::after {
  content: ""; /* Agregar un pseudo-elemento */
  position: fixed; /* Fijo en el viewport */
  top: 50%; /* Centrarse verticalmente */
  left: 50%; /* Centrarse horizontalmente */
  width: calc(150%); /* Ampliar a 150% del tamaño */
  height: calc(150%); /* Ampliar a 150% del tamaño */
  transform: translate(-50%, -50%); /* Centrar el pseudo-elemento */
  background: #e0d7df; /* Fondo semi-transparente */
  z-index: 0; /* Por debajo de la imagen */
}

/* galería social*/

.carousel-inner {
  display: flex; /* Usar flexbox para centrar */
  align-items: center; /* Centrar verticalmente *//
}

.carousel-item img {
  max-width: 40%; 
    height: auto; 
    margin: 0 auto; 
    display: block; 
}

.modal-content {
  background-color: transparent; /* Eliminar el color de fondo */
}

footer {
  width: 100%;
  background-color: #ae8774; /* Establece el color de fondo */
  color: rgb(255, 255, 255); /* Color del texto */
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center
}

footer h3 {
  text-align: center;
}
footer div {
  background-color: #ae8774; /* Establece el color de fondo */
}

footer img {
  align-self: center;
  padding-left: 100px;
  max-width: 400px;;
}

#logo-footer {
  max-width: 500px;
}

.form-control {
  max-width: 100%; /* Ancho completo de los campos */
  width: 300px; /* Ajusta el ancho según necesites */
  margin: 0 auto; /* Centrar los campos */
}

.col-md-4 {
  flex: 0 0 auto; /* Permitir que la columna no se comprima */
  max-width: 400px; /* Ajustar el ancho máximo de la columna */
}


@media (max-width: 768px) {
  .menu {
    position: fixed; /* Fijar en el top del viewport */
    top: 0; 
    right: 0; 
    width: 100%; /* Ocupar el ancho completo */
    background: rgba(116, 116, 116, 0.89); /* Fondo semi-transparente */
    z-index: 10;
    display: flex; /* Usar flexbox para disposición horizontal */
    align-items: center; /* Centrar verticalmente */
    padding: 2px; /* Espaciado */
  }
  
  .logo-menu {
    width: 10%; 
    cursor: pointer;
    display: block; 
    margin: 0 auto; 
    transition: width 0.3s ease; /* Transición para cambios de tamaño */
  }
  
  .menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Cambiar a horizontal */
    flex-grow: 1; /* Hacer que los elementos ocupen el espacio disponible */
    justify-content: center; /* Centrar los elementos */
  }
  
  .menu-items li {
    padding: 10px 20px; /* Espacio horizontal */
  }
  
  .menu-items a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.3s; /* Transición para el color */
  }
  
  .menu-items a:hover {
    color: #a05195; /* Cambiar color al pasar el mouse */
  }
  
  #caratula-real2 {
    background-image: url('../img/caratula-series2.jpg');
    height: 900px;
  }
  #caratula-real1 {
    background-image: url('../img/caratula-recientes2.jpg');
    height: 900px;
  }
  .carousel-item img {
    max-width: 60%; 
      height: auto; 
      margin: 0 auto; 
      display: block; 
  }
}