* {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  margin: 0; /* Eliminar margenes globales */
  padding: 0; /* Eliminar padding global */
}

body {
  color: #ffffff;
  padding-top: 50px;
  background-color: black;
  display: flex; /* Usar flexbox en el cuerpo */
  flex-direction: column; /* Alinear los elementos en columna */
  min-height: 100vh; /* Asegurar que el cuerpo ocupe al menos la altura de la ventana */
  margin: 0; /* Eliminar el margen por defecto */
}


.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}

.content {
  position: relative;
  z-index: 2; /* Asegúrate de que el contenido esté por encima del video */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white; 
}

.logo {
  max-width: 600px;
  opacity: 0; 
  transition: opacity 1s; 
  z-index: 1; /* Logo detrás del contenido */
}

.buttons {  
  position: absolute;
  right: 20px; 
  top: 50%; 
  transform: translateY(-50%);
  opacity: 0; 
  transition: opacity 1s; 
  display: flex; 
  flex-direction: column; 
  z-index: 3; /* Asegúrate de que los botones estén por encima del logo */
}

.transparent-button {
  text-align: center;
  text-decoration: none;
  border: none;
  margin: 10px 0; 
  padding: 10px 20px;
  font-size: 22px;
  color: #b579ae; 
  background: none; 
  cursor: pointer;
  opacity: 0; 
  transition: opacity 0.5s, color 0.3s, background 0.3s; 
}

/* Cambios al pasar el mouse */
.transparent-button:hover {
  color: white; /* Cambiar color a blanco */
}

/* Menú*/
.menu {
  position: absolute; /* Permitir que el menú se posicione sobre el contenido */
  top: 0; /* Alinear al borde superior */
  right: 0; /* Alinear al borde derecho */
  width: 200px; /* Ancho del menú */
  text-align: center; /* Centrar el contenido dentro del menú */
  z-index: 10;
}

.logo-menu {
  width: 60%; /* Ajusta el tamaño de la imagen */
  cursor: pointer;
  display: block; /* Asegúrate de que el logo ocupe su ancho */
  margin: 0 auto; /* Centrar el logo */
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.075); /* Fondo transparente */
  transition: max-height 0.3s ease;
  max-height: 200px; /* Ajustar a un tamaño que permita ver todos los items */
  overflow: hidden; /* Evita mostrar elementos ocultos */
}

.menu-items li {
  padding: 10px;
  border-bottom: 1px solid #ccc; /* Separador entre items */
}

.menu-items li:last-child {
  border-bottom: none; /* Quitar el separador del último item */
}

.menu-items a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block; /* Hacer que el enlace ocupe todo el ancho */
  transition: color 0.3s ease, text-decoration 0.3s ease;
  font-weight: bold; /* Aumentar el peso de la tipografía */
}

.menu-items a:hover {
  color: #a05195; 
  text-decoration: none;
}
.menu-items a:visited {
  color: #6d6d6d; 
  text-decoration: none;
}

body h1 {
  font-weight: bold;
  text-align: center;
  color: #5a0550;
}
body p {
  text-align: center;
  color: #b579ae;
}
.cursos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;}
article {
  font-size: 20px;
  padding: 1em;
  color: #ffffff;
  background-color: #b579aea1;
  align-self: center;
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 15px #3d0036; /* Sombra para efecto flotante */
  margin: 20px; /* Espacio alrededor del artículo */
  transition: transform 0.3s ease; /* Transición suave para el hover */
}
article a:link {
  color: #a05195;
}
article a:visited { 
  color: #d6d455;
}
article h3 {
  text-align: center;
}
div a:link {
  color: #a05195;
}
div a:visited { 
  color: #d6d455;
}


#img-cursos {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centra las imágenes horizontalmente */
  align-items: center; /* Centra verticalmente si es necesario */
  margin: 20px 0; /* Espacio arriba y abajo */
}
body img {
  padding: 2px;
  max-width: 500px;
}

#sobre-mi {
  display: flex; /* Usar flexbox para centrar */
  flex-direction: column; /* Alinear los elementos en columna */
  align-items: center; /* Centrar los elementos horizontalmente */
  background-color: #b579ae;
  padding: 2em;
  margin-bottom: 20px; /* Agregar margen inferior para separar del footer */
}
.btn-sobre-mi {
  display: inline-block; /* Permite que el botón tenga un ancho ajustable */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de la fuente */
  color: #000000; /* Color del texto: negro */
  background-color: #ffffff; /* Color de fondo: rosa */
  border: none; /* Sin borde */
  border-radius: 25px; /* Bordes redondeados */
  text-align: center; /* Centrar texto */
  text-decoration: none; /* Sin subrayado */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.btn-sobre-mi:hover {
  color: white;
  background-color: #3d0036; /* Color de fondo al pasar el mouse */
  transform: translateY(-2px); /* Efecto de levantamiento */
}

/*carátula realismo */
#caratula-real1 {
  background-image: url('../img/caratula-recientes.jpg'); /* Ruta a tu imagen */
  background-size: cover
  background-position: center; /* Centra la imagen */
  height: 600px; /* Altura del contenedor del encabezado */
  display: flex;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  color: white;
  margin: 20px 0; /* Espaciado superior e inferior */

}
#caratula-real2 {
  background-image: url('../img/caratula-series.jpg'); /* Ruta a tu imagen */
  background-size: cover
  background-position: center; /* Centra la imagen */
  height: 600px; /* Altura del contenedor del encabezado */
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  color: white;
  margin: 20px 0; /* Espaciado superior e inferior */

}

#caratula-real a {
  color: inherit; /* Color del enlace que hereda del h2 */
  text-decoration: none; /* Sin subrayado */
  font-size: 24px; /* Tamaño de fuente */
}

.background-image a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}

/* galería realismo - recientes */
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 1080px; /* Ancho total de la cuadrícula */
  margin: 0 auto; /* Centrar la cuadrícula */
  padding: 0; /* Eliminar padding */
  position: relative; /* Para posicionar imágenes en relación a este contenedor */
}

.galeria img {
  width: calc(100% - 10px); /* Restar margen para ajustar el ancho */
  height: auto; /* Mantener la proporción de la imagen */
  object-fit: cover; /* Asegurar que la imagen cubra el área sin deformarse */
  margin: 5px; 
  transition: transform 0.3s ease; /* Suavizar la transición al cambiar tamaño */
  position: relative; /* Establecer posición relativa para cada imagen */
  z-index: 0; /* Z-index por defecto */
}

.galeria img:hover {
  transform: scale(2); /* Ampliar la imagen a 1.5x su tamaño */
  z-index: 1; /* Asegurar que la imagen ampliada esté por encima de las demás */
}

/* Ajustar la imagen ampliada para centrarla respecto del viewport */
.galeria img:hover::after {
  content: ""; /* Agregar un pseudo-elemento */
  position: fixed; /* Fijo en el viewport */
  top: 50%; /* Centrarse verticalmente */
  left: 50%; /* Centrarse horizontalmente */
  width: calc(150%); /* Ampliar a 150% del tamaño */
  height: calc(150%); /* Ampliar a 150% del tamaño */
  transform: translate(-50%, -50%); /* Centrar el pseudo-elemento */
  background: #e0d7df; /* Fondo semi-transparente */
  z-index: 0; /* Por debajo de la imagen */
}

footer {
  width: 100%;
  background-color: #3d0036; /* Establece el color de fondo */
  color: rgb(255, 255, 255); /* Color del texto */
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center
}

footer h3 {
  text-align: center;
}
footer div {
  background-color: #3d0036; /* Establece el color de fondo */
}

.form-control {
  max-width: 100%; /* Ancho completo de los campos */
  width: 300px; /* Ajusta el ancho según necesites */
  margin: 0 auto; /* Centrar los campos */
}

.col-md-4 {
  flex: 0 0 auto; /* Permitir que la columna no se comprima */
  max-width: 400px; /* Ajustar el ancho máximo de la columna */
}

